[init]
    defaultBranch = main

[push]
    default = current
    autoSetupRemote = true

[fetch]
    prune = true

[core]
    pager = delta
    excludesfile = ~/.config/git/ignore
    # hooksPath = ~/.config/git/hooks

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
